{% extends 'base.html' %}
{% load static %}

{% block styles %}
  <style>
    body {
      background-image: url('{% static "images/img.jpg" %}');
      background-size: cover;
      background-repeat: no-repeat;
    }
  </style>
{% endblock %}

{% block content %}
<body>
  <h1>Welcome to Arvid's convent school management system!</h1>
  <a href="{% url 'school_list' %}" class="btn btn-primary">All School</a>
  <a href="{% url 'add_school' %}" class="btn btn-primary">Add school</a>
  {% comment %} <a href="{% url 'edit_school' %}" class="btn btn-primary">Edit School Details</a> {% endcomment %}
  <a href="{% url 'logout' %}" class="btn btn-primary">Logout</a>
</body>  
{% endblock %}
